<div class="card-row">
  <div class="card-col">
    <nb-card size="giant">
      <nb-card-header (click)="centerZoom()">Overlapping Clusters Bug</nb-card-header>
      <nb-card-body>
        <ngx-graph class="chart-container" layout="colaForceDirected" [center$]="center$"
          [zoomToFit$]="zoomToFit$" [links]="links" [nodes]="nodes" [clusters]="clusters" [view]="[846,600]">

          <ng-template #clusterTemplate let-cluster>
              <svg:g class="node cluster">
                <svg:rect rx="5" ry="5" [attr.width]="cluster.dimension.width" [attr.height]="cluster.dimension.height"
                  [attr.fill]="cluster.data.color" />
              </svg:g>
            </ng-template>

          <ng-template #nodeTemplate let-node>
            <svg:g class="node" (click)="nodeClicked(node)">
              <svg:rect [attr.width]="node.dimension.width" [attr.height]="node.dimension.height"
                [attr.fill]="node.data.color" />
              <svg:text alignment-baseline="central" [attr.x]="10" [attr.y]="node.dimension.height / 2">
                {{node.label}}
              </svg:text>
            </svg:g>
          </ng-template>

        </ngx-graph>
      </nb-card-body>
    </nb-card>
  </div>
</div>
